root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
max_line_length = 140
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Disabling indent rules for .goht files so that examples can be
# written showing both styles. I would recommend choosing a single
# style and sticking with it in your own code.
[*.goht]
indent_style = null
indent_size = null
